<section class="courses">
    <h1>Редактировать {{editCourse._id}}</h1>
    <form action="/edit" method="POST" class="course-form">
        <div class="input-field">
            <input id="title" name="title" type="text" class="validate" required value="{{editCourse.title}}">
            <label for="title">Название курса</label>
            <span class="helper-text" data-error="Введите название"></span>
        </div>

        <div class="input-field">
            <input id="price" name="price" type="number" class="validate" required min="1"  value="{{editCourse.price}}">
            <label for="price">Цена курса</label>
            <span class="helper-text" data-error="Введите цену"></span>
        </div>

        <div class="input-field">
            <input id="img" name="img" type="text" class="validate" required  value="{{editCourse.img}}">
            <label for="img">URL картинки</label>
            <span class="helper-text" data-error="Введите url картинки"></span>
        </div>

        <input type="hidden" name="id" value="{{editCourse._id}}">
        <input type="hidden" name="_csrf" value="{{csrf}}">

        <button class="btn waves-effect waves-light"><i class="material-icons right">Редактировать курс</i></button>
        <button type="submit" formaction="/edit/delete" class="btn red">Удалить курс</button>
    </form>
</section>